## Python Data Types
- Data types in Python define the kind of value a variable can hold and the operations that can be performed on it.
- It Defines what type of data we are going to store in a variable
- The data stored in memory can be of many types
- Python has various built-in data types
  y#### Data Types Examples
m Numeric        -->    int, float, complex
 String         -->    str
 Sequence       -->    list, tuple, range
 Mappig         -->    dict
 Boolean        -->    bool
 Set            -->    set
 
## Python Numbers
- Numbers in Python represent numerical values used for mathematical operations and calculations.
- They are a fundamental data type that forms the backbone of many Python programs.
- Python supports three primary number types: There are three numeric types in Python:
    - int
    - float
    - complex
- 1.Integers (int) : Whole numbers without decimal points, such as -6, 0, 6, 100.
- 2.Floating-point numbers (float) : Real numbers with decimal points, like 3.14, -2.5, 0.0.
- 3.Complex numbers : Numbers with both real and imaginary parts, represented as a + bj, where a and b are floats, and j is the imaginary unit.
Variables of numeric types are created when you assign a value to them:e to them: -->    set

In [32]:
x = 1    # int
y = 2.8  # float
z = 1j   # 1+6j #complex # real number + imaginary number

To verify the type of any object in Python, use the type() function:

In [34]:
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

## Int

Int, or integer, is a whole number, positive or negative, without decimals, of unlimited length.

In [36]:
a = 71
b = 33333333
c = 35656222554887711
d = -3255522
e = -473728282225647389
f = 34527263
g = 1
h = -0
i = 571
j = 8668376863478398373
k = 67388366645567
l = 1111111111
m = 56254852

print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))
print(type(g))
print(type(h))
print(type(i))
print(type(j))
print(type(k))
print(type(l))
print(type(m))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>

### Float

Float, or "floating point number" is a number, positive or negative, containing one or more decimals.

In [38]:
a = 1.10
b = 1.0
c = -35.59
d = -71.10
e = 44.444444
f = 452627.8595738
g = 0.000000
h = 55.6452628
i = 5637282.0986542
j = 6483.00976321
k = 647376242.98463535722
l = 46827254.947361
m = 457273.784386

print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))
print(type(g))
print(type(h))
print(type(i))
print(type(j))
print(type(k))
print(type(l))
print(type(m))

<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>

Float can also be scientific numbers with an "e" to indicate the power of 10.

In [40]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

# Complex
## Complex numbers are written with a "j" as the imaginary part:

In [42]:
a = 2 + 3j
b = -4 + 5j
c = 7 - 2j
d = 1 + 6j
e = -5 - 6j
f = 3 + 5j
g = 5j
h = -5j
i = 3 + 5j
j = 10 + 35j
k = 3/2 + 1/4j
l = -1.5 - 2.7j
m = 2 + 13j

print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))
print(type(g))
print(type(h))
print(type(i))
print(type(j))
print(type(k))
print(type(l))
print(type(m))

<class 'complex'>
<class 'complex'>
<class 'complex'>
<class 'complex'>
<class 'complex'>
<class 'complex'>
<class 'complex'>
<class 'complex'>
<class 'complex'>
<class 'complex'>
<class 'complex'>
<class 'complex'>
<class 'complex'>

# Type Conversion
- You can convert from one type to another with the int(), float(), and complex() methods:
- NOTE: You can't convert complex numbers into another number type
- In this Type Conversion there are 2 types of conversion's 1.Implicit Conversion 2. Explicit Conversion
## convert from one type to another :her:

In [44]:
x = 1    # int
y = 2.844  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

#convert from float to complex:
d = complex(y)

print(a)
print(b)
print(c)
print(d)

print(type(a))
print(type(b))
print(type(c))
print(type(d))

1.0
2
(1+0j)
(2.844+0j)
<class 'float'>
<class 'int'>
<class 'complex'>
<class 'complex'>

In [45]:
#Note: You cannot convert complex numbers into another number type.
y = 1+0j
c = float(y)
c

TypeError: float() argument must be a string or a real number, not 'complex'

In [58]:
# 10 Examples of Convert from int to float

num1 = 10
num2 = -454
num3 = 0
num4 = 1232683635
num5 = -4638262526
x = 10
y = -3563736
z = 363662
a1 = 71
b2 = -7489
c3 = 9876543210
d4 = -46347
e5 = -99877

a = float(num1)
b = float(num2)
c = float(num3)
d = float(num4)
e = float(num5)
f = float(x)
g = float(y)
h = float(z)
i = float(a1)
j = float(b2)
k = float(c3)
l = float(d4)
m = float(e5)


print(a)
print(b)
print(c)
print(d)
print(e)
print(f)
print(g)
print(h)
print(i)
print(j)
print(k)
print(l)
print(m)

10.0
-454.0
0.0
1232683635.0
-4638262526.0
10.0
-3563736.0
363662.0
71.0
-7489.0
9876543210.0
-46347.0
-99877.0

In [56]:
# 10 Examples of convert from float to int

x = 7.0
y = 55.777
z = 46628.83998
result = 14.22 + 71.36
value = 6.47 * 4.3
weight = 76.7
age = 21.4
a1 = -846.2782
b1 = 463.7363
c1 = 4683.46782
d4 = 45699.8363
e5 = 7555.467828
f6 = 457222.2222

a = int(x)
b = int(y)
c = int(z)
d = int(result)
e = int(value)
f = int(weight)
g = int(age)
h = int(a1)
i = int(b1)
j = int(c1)
k = int(d4)
l = int(e5)
m = int(f6)

print(a)
print(b)
print(c)
print(d)
print(e)
print(f)
print(g)
print(h)
print(i)
print(j)
print(k)
print(l)
print(m)

7
55
46628
85
27
76
21
-846
463
4683
45699
7555
457222

In [54]:
#10 Examples of convert  from int to complex
num1 = 5
num2 = -10
num3 = 0
num4 = -987654321
num5 = 1234567890
x = 25
y = 1000
result = 15 + 7
value = 3 * 4
quotient = 20 // 3
num6 = 59
num7 = 777
num8 = 4562627

a = complex(num1)
b = complex(num2)
c = complex(num3)
d = complex(num4)
e = complex(num5)
f = complex(x)
g = complex(y)
h = complex(result)
i = complex(value)
j = complex(quotient)
k = complex(num6)
l = complex(num7)
m = complex(num8)

print(a)
print(b)
print(c)
print(d)
print(e)
print(f)
print(g)
print(h)
print(i)
print(j)
print(k)
print(l)
print(m)

(5+0j)
(-10+0j)
0j
(-987654321+0j)
(1234567890+0j)
(25+0j)
(1000+0j)
(22+0j)
(12+0j)
(6+0j)
(59+0j)
(777+0j)
(4562627+0j)

In [52]:
# 10 Examples of convert from float to complex

float_num1 = 3.14
float_num2 = -2.718
float_num3 = 0.999
float_num4 = 1234567890.123
float_num5 = -987654321.456
x = 5.7
y = -10.3
float_num6 = 3.14
float_num7 = -2.718
result = 15.6 + 7.
value = 3.8 * 4.2
float_num8 = 5.7
float_num9 = -10.3
float_num10 = 1234567890.123
float_num11 = -987654321.456
float_num12 = 0.0

a = complex(float_num1)
b = complex(float_num2)
c = complex(float_num3)
d = complex(float_num4)
e = complex(float_num5)
f = complex(x)
g = complex(y)
h = complex(float_num6)
i = complex(float_num7)
j = complex(result)
k = complex(value)
l = complex(float_num8)
m = complex(float_num9)
n = complex(float_num10)
o = complex(float_num11)
p = complex(float_num12)

print(a)
print(b)
print(c)
print(d)
print(e)
print(f)
print(g)
print(h)
print(i)
print(j)
print(k)
print(l)
print(m)
print(n)
print(o)
print(p)

(3.14+0j)
(-2.718+0j)
(0.999+0j)
(1234567890.123+0j)
(-987654321.456+0j)
(5.7+0j)
(-10.3+0j)
(3.14+0j)
(-2.718+0j)
(22.6+0j)
(15.959999999999999+0j)
(5.7+0j)
(-10.3+0j)
(1234567890.123+0j)
(-987654321.456+0j)
0j

# Python Booleans
- Booleans represent one of two values : True or False
- In programming you often need to know if an expression is True or False.
- You can evaluate any expression in Python, and get one of two answers, True or False.
- When you compare two values, the expression is evaluated and Python returns the Boolean answer:
## Key Points
- 1.Values : There are only two possible Boolean values True and False.
- 2.Case-sensitive : True and False must be capitalized.
- 3.Usage : Booleans are used in conditional statements (like if and else), loops, and logical operations.
- 4.Conversion : Other data types can be converted to Booleans using the bool() function.on.ction.on.

In [ ]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

# bool() - Function- The bool() function in Python is used to convert a value into a Boolean value, which can be either True or False..

In [50]:
# 10 Examples on bool() - Function

x = 0.0
y = 55.777
z = 46628.83998
result1 = 14.22 + 71.36
value_1 = 6.47 * 4.3
weight = 76.7
result2 = 15 + 7
value = 3 * 4
quotient = 20 // 3
num1 = 0


print(bool(x))
print(bool(y))
print(bool(z))
print(bool(result1))
print(bool(value))
print(bool(weight))
print(bool(result2))
print(bool(value_1))
print(bool(quotient))
print(bool(num1))

print(type(bool(x)))
print(type(bool(y)))
print(type(bool(z)))
print(type(bool(result1)))
print(type(bool(value)))
print(type(bool(weight)))
print(type(bool(result2)))
print(type(bool(value_1)))
print(type(bool(quotient)))
print(type(bool(num1)))

False
True
True
True
True
True
True
True
True
False
<class 'bool'>
<class 'bool'>
<class 'bool'>
<class 'bool'>
<class 'bool'>
<class 'bool'>
<class 'bool'>
<class 'bool'>
<class 'bool'>
<class 'bool'>